[submodule "vendor/OpenZotacZone"]
	path = vendor/OpenZotacZone
	url = https://github.com/OpenZotacZone/ZotacZone-Drivers.git
	branch = main
[submodule "vendor/ElektroCoder-zotac-zone-platform"]
	path = vendor/ElektroCoder-zotac-zone-platform
	url = https://gist.github.com/ElektroCoder/c3ddfbe6dff057ab16375ab965876e74.git
	branch = main
